body {
    margin: 0;
}

.custom-background {
    background: url("../img/background.jpg") no-repeat fixed;
    background-size: cover;
    width: 100%;
}

header {
    min-height: 76px;
    width: 100%;
    background-color: rgba(51, 67, 70, 0.9);
    position: fixed;
    z-index: 10;
}

#green-tone {
    background: rgba(51, 67, 70, 0.5);
}

.container {
    margin: 0 10% 0 10%;
}

#logo {
    padding: 15px;
}

nav {
    float: right;
    padding: 15px;
}

li {
    display: inline;
}

li a {
    text-decoration: none;
    color: #FFF;
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-size: 15px;
    padding-right: 5mm;
}

li a:hover {
    color: #3bbbd2;
}

li a::selection {
    color: #3bbbd2;
}

#content {
    position: relative;
    padding: 20% 0 20%;
    display: block;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    margin: auto;
}

h1 {
    text-align: center;
    color: #FFF;
    text-transform: uppercase;
    font-size: 55px;
    float: none;
    font-family: 'Montserrat', Helvetica, sans-serif;
    font-weight: 700;
}

h2 {
    text-align: center;
    color: #3bbbd2;
    font-family: 'Montserrat', Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 45px;
    margin: 1%;
}

h4 {
    font-family: 'Montserrat', Helvetica, sans-serif;
    margin: 0;
}

#about-me {
    background: #202728;
    min-height: 75rem;
    position: relative;
    padding: 100px;
}

.left {
    text-align: right;
    width: 33.33333333%;
    float: left;
    padding: 15px;
}

.middle {
    width: 33.33333333%;
    float: left;
    color: #c0cdcf;
    padding: 25px;
    margin-top: 20px;
    text-align: justify;
    font-family: 'Lato', Helvetica, sans-serif;
}

.right {
    width: 20%;
    float: left;
    padding: 15px;
}

.title {
    color: #c0cdcf;
    font-size: 55px;
    font-family: 'Open Sans', Helvetica, sans-serif;
}

.graph {
    padding-top: 8%;
}

section {
    margin-left: 10%;
    margin-right: 10%;
}

.lines {
    background: url(../img/lines.png) repeat-x center;
    margin-bottom: 40px;
    float: left;
    width: 100%;
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local('Montserrat Bold'), local('Montserrat-Bold'), url(https://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_dJE3gnD_g.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN_r8OUuhp.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v14/S6uyw4BMUTPHjx4wXg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}